:root {
  --primary-color: pink;
  --secondary-color: rgba(250, 208, 223, 0.933);
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

body {
  text-align: center;
  background: #6a647b;
  color: white;
  max-width: 700px;
  margin: 0 auto;
}
h1 {
  margin: 30px 0 -15px 0;
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin: 50px 0 -20px 0;
}
h3 {
  font-size: 24px;
  opacity: 0.8;
  margin-top: -30px 20px;
}
p {
  background-color: var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  padding: 20px;
  box-shadow: var(--box-shadow);
  color: #615b72;
}
.contact-me-button {
  text-decoration: none;
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  box-shadow: var(--box-shadow);
  margin: 0 20px;
}
.about-me-button {
  text-decoration: none;
  border: 1px solid var(--primary-color);
  padding: 15px;
  border-radius: 4px;
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  margin: 0 20px;
}
.buttons {
  margin: 50px;
}
.container {
  margin-top: 80px;
}

.about-me-paragraph p {
  margin: 15px;
}
.about-me-paragraph {
  display: flex;
  margin-bottom: 40px;
}
.back-to-homepage {
  text-decoration: none;
  color: white;
}
.back-to-homepage:hover {
  color: var(--primary-color);
}
#contact {
  text-decoration: none;
  color: black;
  font-size: 48px;
  color: white;
}
#contact:hover {
  color: var(--primary-color);
}
